.button {
    display: inline-block;
    background-color: white;
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    font-size: 20px;
    color:  var(--gray1);
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
}

.button:hover {
    transform: scale(1.08);
}

.button-2 {
    display: inline-block;
    background-color: var(--amarelo);
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    font-size: 20px;
    color:  var(--gray1);
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
}

.button-2:hover {
    transform: scale(1.08);
}

.button-2.-full {
    width: 100%;
    cursor: pointer;
}

.button-2.-full:hover {
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48),
    background-color 500ms ease-in-out,
    color 500ms ease-in-out;
    background-color: var(--gray1);
    color: var(--amarelo);
    transform: scale(1.015);
}