.main-carousel {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.main-carousel::after {
    content: "";
    height: 5px;
    background-color: #000;
    width: calc(100% - 100px);
    position: absolute;
    left: 50px;
    top: 36px;
}

.main-carousel::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: 36px;
    border-top: 5px dashed #000;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(40%);
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}

.main-carousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carousel .elements {
    display: flex;
    justify-content: space-between;
    transition: transform 500ms ease-in-out;
}