.projetos {
    height: 520px;
    background: #000;
    border-bottom: var(--amarelo) 10px solid;
}

.projetos .title-3 {
    color: white;
    text-align: center;
    padding: 50px;
    font-family: "Press Start 2P";
    font-size: 40px;
}

.projetos .projetos-fotos {
    display: flex;
    justify-content: center;
}

.projetos .projetos-fotos img {
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #fff;
    border: 1px solid #000;
    margin-right: 70px;
    margin-left: 70px;
}


